body {
    background: #9C835F !important;
    overflow-x: hidden ;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}


header {
    padding-top: 20px;
}

.logo-rps {
    padding-right: 20px;
    padding-left: 20px;
}
/* font */

  .nav-text {
    font-family : 'Open Sans', sans-serif;
    color: #F9B23D;
  }
  .body-text {
    font-family : 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.1rem;
  }
/* game */


button {
    background-color: Transparent;
    border-color: transparent;
}
.result-box {
    height: 100px;
    place-items: center;
    background: #4C9654;
    border-radius: 10px;
    margin:  15px auto;
    padding: 15px;
}

/* layar besar */
@media (min-width: 1200px) { 

    nav {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.1rem;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 20px;
    }
    .img-rps {
        padding-top: 50px;
        width: 30%;
        transition: transform .25s, opacity .25s;
        cursor: pointer;
    }
    .img-rps:hover  {
        transform: rotate(45deg);
    }

    .img-rps-com {
        padding-top: 50px;
        width: 30%;
    }

    .main-area {
        padding-top: 50px;
        padding-left: 200px;
        padding-right: 200px;
    }

    .vs-area {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .vs-title {
        padding: 180px 0 30px 0;
        font-family : 'Bebas Neue', cursive;
        font-size : 80px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.3rem;
        color: #BD0000;
      }
    .reset-game {
    margin-top: 40px;
}
}

 /* layar kecil */
 @media (max-width: 992px) { 

    nav {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.1rem;
        padding-right: 20px;
        padding-left: 20px;
    }
    .img-rps {
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
        cursor: pointer;
    }

    .img-rps-com {
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
    }

    .main-area {
        padding: 20px;
    }

    button {
        width: 30%;
    }

    .vs-title {
        padding-top: 25px;
        font-family : 'Bebas Neue', cursive;
        font-size : 60px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.3rem;
        color: #BD0000;
      }
      .vs-area {
        margin-bottom: 40px;
    }

    .logo-rps {
        width: 20%;
    }
 }
